@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon1096.eot?bffny1');
	src:url('../fonts/icomoond41d.eot?#iefixbffny1') format('embedded-opentype'),
		url('../fonts/icomoon1096.ttf?bffny1') format('truetype'),
		url('../fonts/icomoon1096.woff?bffny1') format('woff'),
		url('../fonts/icomoon1096.svg?bffny1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-diamond3:before {
	content: "\f219";
}
.icon-pinterest-p:before {
	content: "\f231";
}
.icon-whatsapp:before {
	content: "\f232";
}
.icon-music:before {
	content: "\f001";
}
.icon-heart3:before {
	content: "\f004";
}
.icon-star3:before {
	content: "\f005";
}
.icon-star-o:before {
	content: "\f006";
}
.icon-user2:before {
	content: "\f007";
}
.icon-th-large2:before {
	content: "\f009";
}
.icon-check2:before {
	content: "\f00c";
}
.icon-close:before {
	content: "\f00d";
}
.icon-cog:before {
	content: "\f013";
}
.icon-home:before {
	content: "\f015";
}
.icon-clock-o:before {
	content: "\f017";
}
.icon-lock:before {
	content: "\f023";
}
.icon-flag2:before {
	content: "\f024";
}
.icon-tag:before {
	content: "\f02b";
}
.icon-book:before {
	content: "\f02d";
}
.icon-image2:before {
	content: "\f03e";
}
.icon-edit:before {
	content: "\f044";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-times-circle-o:before {
	content: "\f05c";
}
.icon-check-circle-o:before {
	content: "\f05d";
}
.icon-arrow-left2:before {
	content: "\f061";
}
.icon-arrow-right2:before {
	content: "\f062";
}
.icon-plus:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}
.icon-eye3:before {
	content: "\f06e";
}
.icon-comment:before {
	content: "\f075";
}
.icon-magnet:before {
	content: "\f076";
}
.icon-folder:before {
	content: "\f07b";
}
.icon-key:before {
	content: "\f084";
}
.icon-cogs:before {
	content: "\f085";
}
.icon-comments:before {
	content: "\f086";
}
.icon-thumbs-o-up:before {
	content: "\f087";
}
.icon-thumbs-o-down:before {
	content: "\f088";
}
.icon-heart-o:before {
	content: "\f08a";
}
.icon-trophy:before {
	content: "\f091";
}
.icon-phone2:before {
	content: "\f095";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-github:before {
	content: "\f09b";
}
.icon-bullhorn:before {
	content: "\f0a1";
}
.icon-certificate:before {
	content: "\f0a3";
}
.icon-wrench:before {
	content: "\f0ad";
}
.icon-tasks:before {
	content: "\f0ae";
}
.icon-briefcase:before {
	content: "\f0b1";
}
.icon-group:before {
	content: "\f0c0";
}
.icon-chain:before {
	content: "\f0c4";
}
.icon-cloud:before {
	content: "\f0c2";
}
.icon-flask:before {
	content: "\f0c3";
}
.icon-cut:before {
	content: "\f0c5";
}
.icon-paperclip:before {
	content: "\f0c6";
}
.icon-bars:before {
	content: "\f0c9";
}
.icon-magic:before {
	content: "\f0d0";
}
.icon-pinterest:before {
	content: "\f0d2";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-dashboard:before {
	content: "\f0e4";
}
.icon-comments-o:before {
	content: "\f0e6";
}
.icon-bolt:before {
	content: "\f0e7";
}
.icon-sitemap:before {
	content: "\f0e8";
}
.icon-umbrella:before {
	content: "\f0e9";
}
.icon-lightbulb-o:before {
	content: "\f0eb";
}
.icon-cloud-download2:before {
	content: "\f0ed";
}
.icon-cloud-upload2:before {
	content: "\f0ee";
}
.icon-coffee2:before {
	content: "\f0f4";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-desktop:before {
	content: "\f108";
}
.icon-laptop:before {
	content: "\f109";
}
.icon-tablet:before {
	content: "\f10a";
}
.icon-mobile:before {
	content: "\f10b";
}
.icon-quote-left:before {
	content: "\f10d";
}
.icon-quote-right:before {
	content: "\f10e";
}
.icon-github-alt:before {
	content: "\f113";
}
.icon-gamepad:before {
	content: "\f11b";
}
.icon-terminal:before {
	content: "\f120";
}
.icon-code:before {
	content: "\f121";
}
.icon-code-fork:before {
	content: "\f126";
}
.icon-microphone3:before {
	content: "\f130";
}
.icon-rocket2:before {
	content: "\f135";
}
.icon-anchor2:before {
	content: "\f13d";
}
.icon-eur:before {
	content: "\f153";
}
.icon-gbp:before {
	content: "\f154";
}
.icon-dollar:before {
	content: "\f155";
}
.icon-inr:before {
	content: "\f156";
}
.icon-cny:before {
	content: "\f157";
}
.icon-rouble:before {
	content: "\f158";
}
.icon-krw:before {
	content: "\f159";
}
.icon-bitcoin:before {
	content: "\f15a";
}
.icon-thumbs-up:before {
	content: "\f164";
}
.icon-thumbs-down:before {
	content: "\f165";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-youtube-play:before {
	content: "\f16a";
}
.icon-dropbox:before {
	content: "\f16b";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-tumblr:before {
	content: "\f173";
}
.icon-apple:before {
	content: "\f179";
}
.icon-windows:before {
	content: "\f17a";
}
.icon-android:before {
	content: "\f17b";
}
.icon-linux:before {
	content: "\f17c";
}
.icon-dribbble:before {
	content: "\f17d";
}
.icon-skype:before {
	content: "\f17e";
}
.icon-foursquare:before {
	content: "\f180";
}
.icon-trello:before {
	content: "\f181";
}
.icon-female:before {
	content: "\f182";
}
.icon-male:before {
	content: "\f183";
}
.icon-gittip:before {
	content: "\f184";
}
.icon-arrow-circle-o-right:before {
	content: "\f18e";
}
.icon-arrow-circle-o-left:before {
	content: "\f190";
}
.icon-wordpress:before {
	content: "\f19a";
}
.icon-graduation-cap:before {
	content: "\f19d";
}
.icon-reddit:before {
	content: "\f1a1";
}
.icon-stumbleupon:before {
	content: "\f1a4";
}
.icon-delicious:before {
	content: "\f1a5";
}
.icon-digg:before {
	content: "\f1a6";
}
.icon-drupal:before {
	content: "\f1a9";
}
.icon-joomla:before {
	content: "\f1aa";
}
.icon-behance:before {
	content: "\f1b4";
}
.icon-steam:before {
	content: "\f1b6";
}
.icon-tree:before {
	content: "\f1bb";
}
.icon-spotify:before {
	content: "\f1bc";
}
.icon-soundcloud:before {
	content: "\f1be";
}
.icon-vine:before {
	content: "\f1ca";
}
.icon-life-bouy:before {
	content: "\f1cd";
}
.icon-paper-plane:before {
	content: "\f1d8";
}
.icon-paper-plane-o:before {
	content: "\f1d9";
}
.icon-sliders:before {
	content: "\f1de";
}
.icon-bomb:before {
	content: "\f1e2";
}
.icon-plug:before {
	content: "\f1e6";
}
.icon-slideshare:before {
	content: "\f1e7";
}
.icon-paypal:before {
	content: "\f1ed";
}
.icon-cc-visa:before {
	content: "\f1f0";
}
.icon-cc-mastercard:before {
	content: "\f1f1";
}
.icon-cc-discover:before {
	content: "\f1f2";
}
.icon-cc-amex:before {
	content: "\f1f3";
}
.icon-cc-paypal:before {
	content: "\f1f4";
}
.icon-cc-stripe:before {
	content: "\f1f5";
}
.icon-copyright:before {
	content: "\f1f9";
}
.icon-at:before {
	content: "\f1fa";
}
.icon-birthday-cake:before {
	content: "\f1fd";
}
.icon-area-chart:before {
	content: "\f1fe";
}
.icon-pie-chart:before {
	content: "\f200";
}
.icon-line-chart:before {
	content: "\f201";
}
.icon-lastfm:before {
	content: "\f202";
}
.icon-mobile2:before {
	content: "\e00a";
}
.icon-laptop2:before {
	content: "\e00b";
}
.icon-desktop2:before {
	content: "\e00c";
}
.icon-tablet2:before {
	content: "\e00d";
}
.icon-phone3:before {
	content: "\e00e";
}
.icon-document:before {
	content: "\e00f";
}
.icon-documents:before {
	content: "\e01a";
}
.icon-search4:before {
	content: "\e01b";
}
.icon-clipboard2:before {
	content: "\e01c";
}
.icon-newspaper:before {
	content: "\e01d";
}
.icon-notebook:before {
	content: "\e01e";
}
.icon-book-open:before {
	content: "\e01f";
}
.icon-browser:before {
	content: "\e02a";
}
.icon-calendar2:before {
	content: "\e02b";
}
.icon-presentation:before {
	content: "\e02c";
}
.icon-picture:before {
	content: "\e02d";
}
.icon-pictures:before {
	content: "\e02e";
}
.icon-video3:before {
	content: "\e02f";
}
.icon-camera5:before {
	content: "\e03a";
}
.icon-printer2:before {
	content: "\e03b";
}
.icon-toolbox:before {
	content: "\e03c";
}
.icon-briefcase3:before {
	content: "\e03d";
}
.icon-wallet3:before {
	content: "\e03e";
}
.icon-gift2:before {
	content: "\e03f";
}
.icon-bargraph:before {
	content: "\e04a";
}
.icon-grid2:before {
	content: "\e04b";
}
.icon-expand2:before {
	content: "\e04c";
}
.icon-focus:before {
	content: "\e04d";
}
.icon-edit2:before {
	content: "\e04e";
}
.icon-adjustments:before {
	content: "\e04f";
}
.icon-ribbon2:before {
	content: "\e05a";
}
.icon-hourglass2:before {
	content: "\e05b";
}
.icon-lock4:before {
	content: "\e05c";
}
.icon-megaphone2:before {
	content: "\e05d";
}
.icon-shield:before {
	content: "\e05e";
}
.icon-trophy2:before {
	content: "\e05f";
}
.icon-flag3:before {
	content: "\e06a";
}
.icon-map2:before {
	content: "\e06b";
}
.icon-puzzle2:before {
	content: "\e06c";
}
.icon-basket:before {
	content: "\e06d";
}
.icon-envelope2:before {
	content: "\e06e";
}
.icon-streetsign:before {
	content: "\e06f";
}
.icon-telescope:before {
	content: "\e07a";
}
.icon-gears:before {
	content: "\e07b";
}
.icon-key3:before {
	content: "\e07c";
}
.icon-paperclip2:before {
	content: "\e07d";
}
.icon-attachment:before {
	content: "\e07e";
}
.icon-pricetags:before {
	content: "\e07f";
}
.icon-lightbulb:before {
	content: "\e08a";
}
.icon-layers2:before {
	content: "\e08b";
}
.icon-pencil:before {
	content: "\e08c";
}
.icon-tools2:before {
	content: "\e08d";
}
.icon-tools-2:before {
	content: "\e08e";
}
.icon-scissors:before {
	content: "\e08f";
}
.icon-paintbrush:before {
	content: "\e09a";
}
.icon-magnifying-glass:before {
	content: "\e09b";
}
.icon-circle-compass:before {
	content: "\e09c";
}
.icon-linegraph:before {
	content: "\e09d";
}
.icon-mic:before {
	content: "\e09e";
}
.icon-strategy:before {
	content: "\e09f";
}
.icon-beaker:before {
	content: "\e0a0";
}
.icon-caution:before {
	content: "\e0a1";
}
.icon-recycle:before {
	content: "\e0a2";
}
.icon-anchor3:before {
	content: "\e0a3";
}
.icon-profile-male:before {
	content: "\e0a4";
}
.icon-profile-female:before {
	content: "\e0a5";
}
.icon-bike:before {
	content: "\e0a6";
}
.icon-wine:before {
	content: "\e0a7";
}
.icon-hotairballoon:before {
	content: "\e0a8";
}
.icon-globe3:before {
	content: "\e0a9";
}
.icon-genius:before {
	content: "\e0aa";
}
.icon-map-pin:before {
	content: "\e0ab";
}
.icon-dial:before {
	content: "\e0ac";
}
.icon-chat:before {
	content: "\e0ad";
}
.icon-heart4:before {
	content: "\e0ae";
}
.icon-cloud4:before {
	content: "\e0af";
}
.icon-upload2:before {
	content: "\e0b0";
}
.icon-download2:before {
	content: "\e0b1";
}
.icon-target2:before {
	content: "\e0b2";
}
.icon-hazardous:before {
	content: "\e0b3";
}
.icon-piechart:before {
	content: "\e0b4";
}
.icon-speedometer:before {
	content: "\e0b5";
}
.icon-global:before {
	content: "\e0b6";
}
.icon-compass:before {
	content: "\e0b7";
}
.icon-lifesaver:before {
	content: "\e0b8";
}
.icon-clock3:before {
	content: "\e0b9";
}
.icon-aperture:before {
	content: "\e0ba";
}
.icon-quote3:before {
	content: "\e0bb";
}
.icon-scope:before {
	content: "\e0bc";
}
.icon-alarmclock:before {
	content: "\e0bd";
}
.icon-refresh:before {
	content: "\e0be";
}
.icon-happy3:before {
	content: "\e0bf";
}
.icon-sad3:before {
	content: "\e0c0";
}
.icon-facebook2:before {
	content: "\e0c1";
}
.icon-twitter2:before {
	content: "\e0c2";
}
.icon-googleplus:before {
	content: "\e0c3";
}
.icon-rss:before {
	content: "\e0c4";
}
.icon-tumblr2:before {
	content: "\e0c5";
}
.icon-linkedin2:before {
	content: "\e0c6";
}
.icon-dribbble2:before {
	content: "\e0c7";
}
.icon-heart:before {
	content: "\e610";
}
.icon-cloud2:before {
	content: "\e611";
}
.icon-star:before {
	content: "\e612";
}
.icon-tv:before {
	content: "\e613";
}
.icon-sound:before {
	content: "\e614";
}
.icon-video:before {
	content: "\e615";
}
.icon-trash:before {
	content: "\e616";
}
.icon-user:before {
	content: "\e617";
}
.icon-key2:before {
	content: "\e618";
}
.icon-search2:before {
	content: "\e619";
}
.icon-settings:before {
	content: "\e61a";
}
.icon-camera2:before {
	content: "\e61b";
}
.icon-tag2:before {
	content: "\e61c";
}
.icon-lock2:before {
	content: "\e61d";
}
.icon-bulb:before {
	content: "\e61e";
}
.icon-pen:before {
	content: "\e61f";
}
.icon-diamond2:before {
	content: "\e620";
}
.icon-display:before {
	content: "\e621";
}
.icon-location2:before {
	content: "\e622";
}
.icon-eye:before {
	content: "\e623";
}
.icon-bubble:before {
	content: "\e624";
}
.icon-stack:before {
	content: "\e625";
}
.icon-cup:before {
	content: "\e626";
}
.icon-phone:before {
	content: "\e627";
}
.icon-news:before {
	content: "\e628";
}
.icon-mail:before {
	content: "\e629";
}
.icon-like:before {
	content: "\e62a";
}
.icon-photo:before {
	content: "\e62b";
}
.icon-note:before {
	content: "\e62c";
}
.icon-clock:before {
	content: "\e62d";
}
.icon-paperplane:before {
	content: "\e62e";
}
.icon-params:before {
	content: "\e62f";
}
.icon-banknote:before {
	content: "\e630";
}
.icon-data:before {
	content: "\e631";
}
.icon-music2:before {
	content: "\e632";
}
.icon-megaphone:before {
	content: "\e633";
}
.icon-study:before {
	content: "\e634";
}
.icon-lab2:before {
	content: "\e635";
}
.icon-food:before {
	content: "\e636";
}
.icon-t-shirt:before {
	content: "\e637";
}
.icon-fire2:before {
	content: "\e638";
}
.icon-clip:before {
	content: "\e639";
}
.icon-shop:before {
	content: "\e63a";
}
.icon-calendar:before {
	content: "\e63b";
}
.icon-wallet:before {
	content: "\e63c";
}
.icon-vynil:before {
	content: "\e63d";
}
.icon-truck:before {
	content: "\e63e";
}
.icon-world:before {
	content: "\e63f";
}
.icon-quote:before {
	content: "\e640";
}
.icon-quote2:before {
	content: "\e641";
}
.icon-camera3:before {
	content: "\e642";
}
.icon-film:before {
	content: "\e643";
}
.icon-drink:before {
	content: "\e600";
}
.icon-drink2:before {
	content: "\e601";
}
.icon-drink3:before {
	content: "\e644";
}
.icon-coffee:before {
	content: "\e602";
}
.icon-mug:before {
	content: "\e603";
}
.icon-icecream:before {
	content: "\e604";
}
.icon-cake:before {
	content: "\e605";
}
.icon-cassette:before {
	content: "\e645";
}
.icon-wallet2:before {
	content: "\e646";
}
.icon-sitemap2:before {
	content: "\e647";
}
.icon-direction:before {
	content: "\e606";
}
.icon-lab:before {
	content: "\e607";
}
.icon-tie:before {
	content: "\e608";
}
.icon-medal:before {
	content: "\e648";
}
.icon-stack2:before {
	content: "\e649";
}
.icon-lamp:before {
	content: "\e609";
}
.icon-diamond:before {
	content: "\e60a";
}
.icon-equalizer:before {
	content: "\e60b";
}
.icon-justice:before {
	content: "\e64a";
}
.icon-stats:before {
	content: "\e64b";
}
.icon-hourglass:before {
	content: "\e64c";
}
.icon-abacus:before {
	content: "\e64d";
}
.icon-dollar2:before {
	content: "\e64e";
}
.icon-pig:before {
	content: "\e60c";
}
.icon-envelope:before {
	content: "\e60d";
}
.icon-male2:before {
	content: "\e64f";
}
.icon-female2:before {
	content: "\e650";
}
.icon-info:before {
	content: "\e651";
}
.icon-rocket:before {
	content: "\e60e";
}
.icon-microphone:before {
	content: "\e652";
}
.icon-shipping:before {
	content: "\e653";
}
.icon-ruler:before {
	content: "\e60f";
}
.icon-pencil22:before {
	content: "\e906";
}
.icon-droplet:before {
	content: "\e90b";
}
.icon-camera:before {
	content: "\e90f";
}
.icon-headphones:before {
	content: "\e910";
}
.icon-connection:before {
	content: "\e91b";
}
.icon-book2:before {
	content: "\e91f";
}
.icon-books:before {
	content: "\e920";
}
.icon-folder-open:before {
	content: "\e930";
}
.icon-cart:before {
	content: "\e93a";
}
.icon-equalizer2:before {
	content: "\e993";
}
.icon-pie-chart2:before {
	content: "\e99a";
}
.icon-stats-dots:before {
	content: "\e99b";
}
.icon-spoon-knife:before {
	content: "\e9a3";
}
.icon-leaf:before {
	content: "\e9a4";
}
.icon-rocket4:before {
	content: "\e9a5";
}
.icon-meter:before {
	content: "\e9a6";
}
.icon-fire:before {
	content: "\e9a9";
}
.icon-bin:before {
	content: "\e9ac";
}
.icon-bookmark:before {
	content: "\e9d2";
}
.icon-happy:before {
	content: "\e9df";
}
.icon-happy2:before {
	content: "\e9e0";
}
.icon-smile:before {
	content: "\e9e1";
}
.icon-smile2:before {
	content: "\e9e2";
}
.icon-tongue:before {
	content: "\e9e3";
}
.icon-tongue2:before {
	content: "\e9e4";
}
.icon-sad:before {
	content: "\e9e5";
}
.icon-sad2:before {
	content: "\e9e6";
}
.icon-wink:before {
	content: "\e9e7";
}
.icon-wink2:before {
	content: "\e9e8";
}
.icon-grin:before {
	content: "\e9e9";
}
.icon-grin2:before {
	content: "\e9ea";
}
.icon-cool:before {
	content: "\e9eb";
}
.icon-cool2:before {
	content: "\e9ec";
}
.icon-angry:before {
	content: "\e9ed";
}
.icon-angry2:before {
	content: "\e9ee";
}
.icon-evil:before {
	content: "\e9ef";
}
.icon-evil2:before {
	content: "\e9f0";
}
.icon-shocked:before {
	content: "\e9f1";
}
.icon-shocked2:before {
	content: "\e9f2";
}
.icon-baffled:before {
	content: "\e9f3";
}
.icon-baffled2:before {
	content: "\e9f4";
}
.icon-confused:before {
	content: "\e9f5";
}
.icon-confused2:before {
	content: "\e9f6";
}
.icon-neutral:before {
	content: "\e9f7";
}
.icon-neutral2:before {
	content: "\e9f8";
}
.icon-hipster:before {
	content: "\e9f9";
}
.icon-hipster2:before {
	content: "\e9fa";
}
.icon-wondering:before {
	content: "\e9fb";
}
.icon-wondering2:before {
	content: "\e9fc";
}
.icon-sleepy:before {
	content: "\e9fd";
}
.icon-sleepy2:before {
	content: "\e9fe";
}
.icon-frustrated:before {
	content: "\e9ff";
}
.icon-frustrated2:before {
	content: "\ea00";
}
.icon-crying:before {
	content: "\ea01";
}
.icon-crying2:before {
	content: "\ea02";
}
.icon-play2:before {
	content: "\ea15";
}
.icon-pause:before {
	content: "\ea16";
}
.icon-stop:before {
	content: "\ea17";
}
.icon-previous:before {
	content: "\ea18";
}
.icon-next:before {
	content: "\ea19";
}
.icon-backward:before {
	content: "\ea1a";
}
.icon-forward2:before {
	content: "\ea1b";
}
.icon-play3:before {
	content: "\ea1c";
}
.icon-pause2:before {
	content: "\ea1d";
}
.icon-stop2:before {
	content: "\ea1e";
}
.icon-circle-up:before {
	content: "\ea41";
}
.icon-circle-right:before {
	content: "\ea42";
}
.icon-circle-down:before {
	content: "\ea43";
}
.icon-circle-left:before {
	content: "\ea44";
}
.icon-html5:before {
	content: "\eadf";
}
.icon-html52:before {
	content: "\eae0";
}
.icon-css3:before {
	content: "\eae1";
}
.icon-chrome:before {
	content: "\eae5";
}
.icon-firefox:before {
	content: "\eae6";
}
.icon-IE:before {
	content: "\eae7";
}
.icon-opera:before {
	content: "\eae8";
}
.icon-safari:before {
	content: "\eae9";
}
.icon-bug:before {
	content: "\f092";
}
.icon-gift:before {
	content: "\f042";
}
.icon-git-branch:before {
	content: "\f020";
}
.icon-globe:before {
	content: "\f0b6";
}
.icon-graph:before {
	content: "\f043";
}
.icon-law:before {
	content: "\f0d8";
}
.icon-light-bulb:before {
	content: "\f000";
}
.icon-location:before {
	content: "\f060";
}
.icon-mention:before {
	content: "\f0be";
}
.icon-pencil2:before {
	content: "\f058";
}
.icon-pin:before {
	content: "\f041";
}
.icon-plug2:before {
	content: "\f0d4";
}
.icon-pulse:before {
	content: "\f089";
}
.icon-puzzle:before {
	content: "\f0c1";
}
.icon-rocket3:before {
	content: "\f033";
}
.icon-search:before {
	content: "\f02e";
}
.icon-tools:before {
	content: "\f031";
}
.icon-eye2:before {
	content: "\e000";
}
.icon-paper-clip:before {
	content: "\e001";
}
.icon-mail2:before {
	content: "\e002";
}
.icon-toggle:before {
	content: "\e003";
}
.icon-layout:before {
	content: "\e004";
}
.icon-link:before {
	content: "\e005";
}
.icon-bell:before {
	content: "\e006";
}
.icon-lock3:before {
	content: "\e007";
}
.icon-unlock:before {
	content: "\e008";
}
.icon-ribbon:before {
	content: "\e009";
}
.icon-image:before {
	content: "\e010";
}
.icon-signal:before {
	content: "\e011";
}
.icon-target:before {
	content: "\e012";
}
.icon-clipboard:before {
	content: "\e013";
}
.icon-clock2:before {
	content: "\e014";
}
.icon-watch:before {
	content: "\e015";
}
.icon-air-play:before {
	content: "\e016";
}
.icon-camera4:before {
	content: "\e017";
}
.icon-video2:before {
	content: "\e018";
}
.icon-disc:before {
	content: "\e019";
}
.icon-printer:before {
	content: "\e020";
}
.icon-monitor:before {
	content: "\e021";
}
.icon-server:before {
	content: "\e022";
}
.icon-cog2:before {
	content: "\e023";
}
.icon-heart2:before {
	content: "\e024";
}
.icon-paragraph:before {
	content: "\e025";
}
.icon-align-justify:before {
	content: "\e026";
}
.icon-align-left:before {
	content: "\e027";
}
.icon-align-center:before {
	content: "\e028";
}
.icon-align-right:before {
	content: "\e029";
}
.icon-book3:before {
	content: "\e030";
}
.icon-layers:before {
	content: "\e031";
}
.icon-stack3:before {
	content: "\e032";
}
.icon-stack-2:before {
	content: "\e033";
}
.icon-paper:before {
	content: "\e034";
}
.icon-paper-stack:before {
	content: "\e035";
}
.icon-search3:before {
	content: "\e036";
}
.icon-zoom-in:before {
	content: "\e037";
}
.icon-zoom-out:before {
	content: "\e038";
}
.icon-reply:before {
	content: "\e039";
}
.icon-circle-plus:before {
	content: "\e040";
}
.icon-circle-minus:before {
	content: "\e041";
}
.icon-circle-check:before {
	content: "\e042";
}
.icon-circle-cross:before {
	content: "\e043";
}
.icon-square-plus:before {
	content: "\e044";
}
.icon-square-minus:before {
	content: "\e045";
}
.icon-square-check:before {
	content: "\e046";
}
.icon-square-cross:before {
	content: "\e047";
}
.icon-microphone2:before {
	content: "\e048";
}
.icon-record:before {
	content: "\e049";
}
.icon-skip-back:before {
	content: "\e050";
}
.icon-rewind:before {
	content: "\e051";
}
.icon-play:before {
	content: "\e052";
}
.icon-pause3:before {
	content: "\e053";
}
.icon-stop3:before {
	content: "\e054";
}
.icon-fast-forward:before {
	content: "\e055";
}
.icon-skip-forward:before {
	content: "\e056";
}
.icon-shuffle:before {
	content: "\e057";
}
.icon-repeat:before {
	content: "\e058";
}
.icon-folder2:before {
	content: "\e059";
}
.icon-umbrella2:before {
	content: "\e060";
}
.icon-moon:before {
	content: "\e061";
}
.icon-thermometer:before {
	content: "\e062";
}
.icon-drop:before {
	content: "\e063";
}
.icon-sun:before {
	content: "\e064";
}
.icon-cloud3:before {
	content: "\e065";
}
.icon-cloud-upload:before {
	content: "\e066";
}
.icon-cloud-download:before {
	content: "\e067";
}
.icon-upload:before {
	content: "\e068";
}
.icon-download:before {
	content: "\e069";
}
.icon-location3:before {
	content: "\e070";
}
.icon-location-2:before {
	content: "\e071";
}
.icon-map:before {
	content: "\e072";
}
.icon-battery:before {
	content: "\e073";
}
.icon-head:before {
	content: "\e074";
}
.icon-briefcase2:before {
	content: "\e075";
}
.icon-speech-bubble:before {
	content: "\e076";
}
.icon-anchor:before {
	content: "\e077";
}
.icon-globe2:before {
	content: "\e078";
}
.icon-box:before {
	content: "\e079";
}
.icon-reload:before {
	content: "\e080";
}
.icon-share:before {
	content: "\e081";
}
.icon-marquee:before {
	content: "\e082";
}
.icon-marquee-plus:before {
	content: "\e083";
}
.icon-marquee-minus:before {
	content: "\e084";
}
.icon-tag3:before {
	content: "\e085";
}
.icon-power:before {
	content: "\e086";
}
.icon-command:before {
	content: "\e087";
}
.icon-alt:before {
	content: "\e088";
}
.icon-esc:before {
	content: "\e089";
}
.icon-bar-graph:before {
	content: "\e090";
}
.icon-bar-graph-2:before {
	content: "\e091";
}
.icon-pie-graph:before {
	content: "\e092";
}
.icon-star2:before {
	content: "\e093";
}
.icon-arrow-left:before {
	content: "\e094";
}
.icon-arrow-right:before {
	content: "\e095";
}
.icon-arrow-up:before {
	content: "\e096";
}
.icon-arrow-down:before {
	content: "\e097";
}
.icon-volume:before {
	content: "\e098";
}
.icon-mute:before {
	content: "\e099";
}
.icon-content-right:before {
	content: "\e100";
}
.icon-content-left:before {
	content: "\e101";
}
.icon-grid:before {
	content: "\e102";
}
.icon-grid-2:before {
	content: "\e103";
}
.icon-columns:before {
	content: "\e104";
}
.icon-loader:before {
	content: "\e105";
}
.icon-bag:before {
	content: "\e106";
}
.icon-ban:before {
	content: "\e107";
}
.icon-flag:before {
	content: "\e108";
}
.icon-trash2:before {
	content: "\e109";
}
.icon-expand:before {
	content: "\e110";
}
.icon-contract:before {
	content: "\e111";
}
.icon-maximize:before {
	content: "\e112";
}
.icon-minimize:before {
	content: "\e113";
}
.icon-plus2:before {
	content: "\e114";
}
.icon-minus2:before {
	content: "\e115";
}
.icon-check:before {
	content: "\e116";
}
.icon-cross:before {
	content: "\e117";
}
.icon-move:before {
	content: "\e118";
}
.icon-delete:before {
	content: "\e119";
}
.icon-menu:before {
	content: "\e120";
}
.icon-archive:before {
	content: "\e121";
}
.icon-inbox:before {
	content: "\e122";
}
.icon-outbox:before {
	content: "\e123";
}
.icon-file:before {
	content: "\e124";
}
.icon-file-add:before {
	content: "\e125";
}
.icon-file-subtract:before {
	content: "\e126";
}
.icon-help:before {
	content: "\e127";
}
.icon-open:before {
	content: "\e128";
}
.icon-ellipsis:before {
	content: "\e129";
}
